@font-face {
    font-family: gyparody;
    src: url(./fonts/gyparody.ttf);
}

body {
  background: url('images/tron.png');
  background-size: 100vw 100vh;
  color: #3c5fe2;
  letter-spacing: 2px;
  text-shadow: -1px 0 #86f6fb, 0 1px #86f6fb, 1px 0 #86f6fb, 0 -1px #86f6fb;
}

h1 {
  font-family: gyparody, sans-serif;
  margin: 0;
}

header {
  align-items: center;
  display: flex;
  font-size: 40px;
  justify-content: center;
}

footer {
  align-items: center;
  display: flex;
  justify-content: center;
}

main {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;

}

.category-card {
  background: #3c60e28a;
  height: 95%;
  width: 95%;
}

.category-card-container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.container-style {
  align-items: center;
  background-color: #11176bc2;
  border-radius: 10px;
  border: solid #a741ca 1px;
  display: flex;
  justify-content: center;
}

.displaynone {
  display: none;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  height: 95%;
  padding: 8px;
  width: 80%;
}

.viewport {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr 200px;
  height: 100%;
}

.hide {
  visibility: hidden;
}

.player-name-popup {
  background: #fff;
  border: solid 1px #000;
  position: absolute;
  top: 50vh;
  left: 50vw;
}

.question-card {
  background: #3c60e28a;
  height: 95%;
  width: 95%;
}

.question-card-container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.question-card-container:hover {
  cursor: pointer;
  filter: hue-rotate(20deg);
}

.question-category {
  font-size: 24px;
  margin: 0;
}

.question-popup {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100vw;
}

.question-popup-sizer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 50vw;
}

.question-value {
  font-size: 40px;
  margin: 0;
}

.score {
  font-size: 40px;
  margin: 0;
}

.scores-player-container {
  align-items: center;
  background-color: #11176bc2;
  display: flex;
  flex-direction: column;
  height: 98%;
  justify-content: center;
  width: 98%;
}

.scoreboard-container {
  background: none;
  border: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 150px;
  width: 80%;
}

.scoreboard-container > h2 {
  font-size: 40px;
  margin: 0;
}

.title-container {
  height: 100px;
  width: 600px;
}