h1 {
  margin: 0;
}

header {
  align-items: center;
  display: flex;
  font-size: 40px;
  justify-content: center;
  grid-column: span 2;
}

footer {
  align-items: center;
  display: flex;
  justify-content: center;
  grid-column: span 2;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.game-container {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 100px 1fr 200px;
  height: 100vh;
}

.game-options {
  display: flex;
  justify-content: space-around;
  width: 300px;
}

.hide {
  display: none;
}

.player-name-popup {
  background: #fff;
  border: solid 1px #000;
  position: absolute;
  top: 50vh;
  left: 50vw;
}

.player-options-container {
  display: flex;
}